body {
  background-color: #FFEFD1;
  text-align: center; }

.navBar {
  margin-top: 10%;
  margin-bottom: 0.4%;
  background-color: #C76A6F;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  height: 90px;
  min-height: 70px; }

li {
  list-style-type: none;
  margin-right: 6%; }

.nav-pills li {
  width: 10%; }

.nav-pills li a {
  color: black;
  justify-content: center;
  min-height: 100%;
  padding: 23.5%; }

.nav-pills li a:hover {
  background-color: #EEA2A6; }

.nav-pills > li.active > a {
  background-color: #801F24;
  color: #FFF9ED; }

.nav-pills > li.active > a:hover {
  background-color: #A43F44;
  color: #222616; }

nav {
  width: 75%;
  margin: auto; }

.filterItem {
  margin: auto; }
  .filterItem select {
    width: 60%; }
  .filterItem li {
    text-align: left;
    list-style: none; }

.blueDiv {
  background-color: #F2C6A5;
  margin-left: 12.5%;
  margin-right: 0.25%;
  width: 24%;
  height: 450px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.yellowDiv {
  background-color: #F2D7A5;
  width: 50.666%;
  margin-right: 0.25%;
  height: 450px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: scroll; }
