$right_div: #F2D7A5;
$left_div: #F2C6A5;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  }

body {
  background-color: #FFEFD1;
  text-align: center;
}

.navBar {
  margin-top: 10%;
  margin-bottom: 0.4%;
  background-color: #C76A6F;
  @include border-radius(6px);
  height: 90px;
  min-height: 70px;
}

li {
 list-style-type: none;
 margin-right: 6%;
}

.nav-pills {

  li {
    width: 10%;
  }

  li a {
    color: black;
    justify-content: center;
    min-height: 100%;
    padding: 23.5%;
  }

   li a:hover {
    background-color: #EEA2A6;
  }

  >li.active>a {
    background-color: #801F24;
    color: #FFF9ED;
  }
  
  >li.active>a:hover {
    background-color: #A43F44; 
    color: #222616;
  }

}

nav {
  width: 75%;
  margin: auto;
}

.filterItem {
  margin: auto;
  
  select {
  width: 60%;
  }

  li {
  text-align: left;
  list-style: none;
  }
  
}

.blueDiv {
  background-color: $left_div;
  margin-left: 12.5%;
  margin-right: 0.25%;
  width: 24%;
  height: 450px;
  display: inline-block;
  @include border-radius(5px);
}

.yellowDiv {
  background-color: $right_div;
  width: 50.666%;
  margin-right: 0.25%;
  height: 450px;
  display: inline-block;
  @include border-radius(5px);
  overflow: scroll;
}